*{

	padding: 0;

	margin: 0;

	border: 0;

}

*,*:before,*:after{

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;

}

:focus,:active{outline: none;}

a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{

	height: 100%;

	width: 100%;

	font-size: 100%;

	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}

button{cursor: pointer;}

button::-moz-focus-inner {padding:0;border:0;}

a, a:visited{text-decoration: none;}

a:hover{text-decoration: none;}

ul li{list-style: none;}

img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-----------------*/

body{
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: whitesmoke;
}

.nav__logo{
    text-align: center;
    font-size: 1.75rem;
    color: #167cb3;
    font-weight: bolder;
    border: #b2abab 1px solid;
    padding: 0.5rem;
    border-radius: 20% 0;
}

.nav__tell-icon{
    display: flex;
    align-items: center;
}

.nav__icon{
    max-width: 1rem;
    margin-right: 0.5rem;
}

.nav__tell{
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav__list{
    display: flex;
    font-size: 1.25rem;
}

.nav__list-item{
    margin: 0rem 1rem;
}

.nav__list-item a{
    color: grey;
    font-weight: 300;
}

.nav__list-item a:hover{
    color: rgb(68, 61, 61);;
}

/*-----------------*/



.top-block__wrapper{
    display: flex;
    width: 100%;
    height: 50rem;
    background-color: rgb(103, 196, 142);
    background-size: contain;
    padding-top: 6rem;
    background-image: url(../img/3list/stud.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 585px auto;
}

.top-block__text{
    max-width: 40rem;
    margin-top: 9rem;
    margin-left: 10rem;
}

.top-block__title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    color: aliceblue;
    font-weight: bold;
}

.top-block__subtitle{
    max-width: 45rem;
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 5rem;
    color: aliceblue;
    letter-spacing: 0.1px;
    line-height: 2.5rem;
}

.top-block__submit{
    margin-top: 3em;
    font-size: 1.25rem;
    font-weight: 300;
    background:  rgb(84, 20, 221);
    color: #f1eff6;
    font-weight: 500;
    padding: 1rem 2.25rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.6rem 1.25rem rgba(183, 50, 39, 0.2);
}

.top-block__submit:hover{
    background:  rgb(62, 34, 153);
    transition: 0.3s;
}

/*-----------------*/


.advantages__wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
    height: 20rem;
     
}


.advantage__items{
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advantage__title{
    font-size: 1.25rem;
    font-weight: 500;
    
}

.advantages__text{
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.75rem;
}

.advantage__img{
    display: block;
    margin: 0 auto;
}

/*-----------------*/

.image-with-text-content__wrapper{
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image-with-text-content__img{
    display: flex;
    width: 35rem;
}

.image-with-text-content__content-block{
    display: flex;
    max-width: 36rem;
}

.image-with-text-content__title{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.image-with-text-content__text{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    letter-spacing: normal;
    
}


/*-----------------*/

.facts-block__wrapper{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-image: url(../img/1list/bg.png);
    height: 17rem;
    justify-content: space-around;
    margin: 0 2rem;
}


.facts-block__item{
    display: flex;
    margin: 0 3rem;
    flex-direction: column;
    color: #310873;
    font-weight: 700;
    letter-spacing: .07em;
}



.facts-block__item-title{
    font-size: 70px;
}


.facts-block__item-text{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .07em;
}

/*-----------------*/


.image-with-text-contented__wrapper{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image-with-text-contented__title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.text-with-advantages__right-parts{
    display: flex;
    flex-direction: column;
    max-width: 35rem;
}

.text-with-advantages__right-texts{
    display: inline-block;
    font-weight: 300;
    font-size: 1.15rem;
    padding-left: 3rem;
    line-height: 1.75rem;
}

.image-with-text-content__texts{
    margin: 2rem 0rem 1.75rem 0rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: normal;   
}


.text-with-advantages__rights{
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
}


/*-----------------*/


.insrtruction-block__wrapper{
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.insrtruction-block__title{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.instruction-block__items{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}

.instruction-block__item-num{
    display: flex;
    font-weight: 700;
    font-size: 8rem;
    color: #310873;
}


.instruction-block__item-separation{
    width: 100%;
    height: 2px;
    background-color: #626ac0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.instruction-block__item-text{
    font-weight: 300;
    font-size: 1.25rem;
    max-width: 17rem;
    line-height: 1.75rem;
    letter-spacing: normal;
}

/*-----------------*/



.footer-container{
    height: 6rem;
    background: #bfa4d388;
    margin-top: 3rem;
}

.footer-container__user{
    padding-top: 3rem;
    padding-left: 5rem;
    font-size: 0.75rem;
}